<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/slider.css">
	<title>cote.nyc</title>
<style>
	body {
		margin: 0;
	}
</style>
</head>

<body class="slideOne">
<!-- Section: Main -->
<main class="main">
<div class="page-wrap">
	<div id="home-slider">		
		<div class="slider-container" >
			<div class="left-slide" id="left-slide">
				<div class="pic" data-bgcolor="slideOne">
					<img src="images/old_index/1_a_desktop.jpg" class="desktopView" />
					<img src="images/old_index/1_a_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic" data-bgcolor="slideTwo">
					<img src="images/old_index/2_a_desktop.jpg" class="desktopView" />
					<img src="images/old_index/2_a_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic" data-bgcolor="slideThree">
					<img src="images/old_index/3_a_desktop.jpg" class="desktopView" />
					<img src="images/old_index/3_a_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic" data-bgcolor="slideFour">
					<img src="images/old_index/4_a_desktop.jpg" class="desktopView" />
					<img src="images/old_index/4_a_mobile.jpg" class="mobileView" />
				</div>
			</div>
			<div class="right-slide" id="right-slide">
				<div class="pic">
					<img src="images/old_index/1_b_desktop.jpg" class="desktopView" />
					<img src="images/old_index/1_b_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic">
					<img src="images/old_index/2_b_desktop.jpg"  class="desktopView" />
					<img src="images/old_index/2_b_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic">
					<img src="images/old_index/3_b_desktop.jpg"  class="desktopView" />
					<img src="images/old_index/3_b_mobile.jpg" class="mobileView" />
				</div>
				<div class="pic">
					<img src="images/old_index/4_b_desktop.jpg"  class="desktopView" />
					<img src="images/old_index/4_b_mobile.jpg" class="mobileView" />
				</div>				
			</div>
		</div>		
	</div>
</div>

</main>

</body>

<script src="/js/slider.js"></script>
</script>
</html>
