<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cote.nyc</title>
	</head>

	<body>
		<!-- the button is necessary for jalfry to open -->
		<button onclick="clickhandler(event)">Login</button>

		<script src="/js/jf.js"></script>
	</body>
</html>
