body {
	margin: 0;
}

.header {
	display: flex;
	padding: 10px 10px 0px 10px;
}
.header .header-main {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}
.header .header-minor {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.header p {
	margin: 0px;
}
.header a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.container {
	margin: 0px 10px;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  z-index: 1;
}

.modal-content {
  width: 300px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.slide-div {
	margin: 10px 0;

}
.slide-div p {
	margin: 10px 0 0 0;
}
.image-div {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.image-div img {
	width: 150px;
}
