@font-face {
	font-family: 'Yantramanav-Regular';
	src: url('/fonts/Yantramanav-Regular.ttf') format('truetype');
}
@media only screen and (max-width: 400px) {
	.image-div {
		flex-direction: column !important;
	}
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Yantramanav-Regular';
}

.header {
	display: flex;
	padding: 10px 10px;
	background-color: #bcbdc2;
}
.header .header-main {
	width: 40%;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}
.header .header-main p {
	font-size: 20px;
	font-weight: bold;
}
.header .header-minor button {
	color: black;
	background-color: white;
	border-radius: 5px;
	border: none;
	padding: 0px 5px;
	font-family: 'Yantramanav-Regular';
	font-size: 20px;
}
.header .header-minor {
	gap: 10px;
	width: 60%;
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
}
.header p {
	margin: 0px;
}
.header a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.container {
	margin: 0px 10px;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  z-index: 1;
}

.modal-content {
  width: 300px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.slide-div {
	margin: 10px 0;
}
.slide-div p {
	margin: 10px 0 0 0;
}
.image-div {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.image-div img {
	width: 150px;
}
.image-div .image-left {
	order: -1;
}
